*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #f9f9f9;}
body{
    font-family: 'Nunito','Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    min-width: 1320px;
}

/* 헤더 */
#header{
    background-color: #2c3238;
}
.header_inner{
    width: 1320px;
    margin: auto;
    height: 120px;
}
.logo{
    float: left;
    padding: 20px 0;
}
.nav{
    float: left;
    text-align: center;
    margin-left: 180px;
}
.nav li{
    float: left;
    padding: 40px 50px;
    
}
.nav li a{
    color: #fff;
    font-weight: bold;
}
.nav li a:hover{
    color: #d97777;
}
.sitemap{
    float: right;
}
.sitemap li{float: left;
padding: 40px 15px;}

/* 아티스트 */
#artist{
    background:url(../sub/images2/artistbg.png) no-repeat top 5% center #2c3238 ;
}
.artist_inner{
    width: 1320px;
    height: 1350px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.art_txt{
    margin-top: 20px;
}
.art_txt a{
    color: #f9f9f9;
}
.art_txt b{
    color: #fbfbfb;
    font-size: 18px;
    font-weight: 400;
} 
.art_txt span{
    font-size: 14px;
    font-family: "Nunito";
    font-weight: bold;
    color: #ccc;
}
.more {
    text-align: center;
    font-size: 16px;
    height: 100px;
    
}
.more a{
    color: #fff;
    border-bottom: #d97777 2px solid;
}
.art{
    width: 100%;
    margin-bottom: 15px;
    margin: auto;
    
}
.inner li{
    float: left;
    position: relative;
    margin: 32px;
}
.inner li img{
    display: block;
}
.hover{
    background-color: rgba(224, 117, 117, 0.692);
    width:100%;
    height: 73.5%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: all 0.5s;
    border-radius: 1000px;
}
.hover h2{
    padding-top: 95px;
    color: #fff;
    font-size: 35px;
    font-style: italic;
}
li:hover .hover{
    opacity: 1;
}

/* footer */
#footer{
    background-color: #f9f9f9;
}
.footer_inner{
    width: 1320px;
    height: 200px;
    margin: auto;
    padding-top: 50px;
}
.footer_logo{
    float: left;
    padding-right: 57px;
}
.footer_inner li{
    float: left;
}
.footer_inner li a{
    padding-right: 40px;
    font-size: 14px;
}
.footer_inner p{
    color: #161d2e;
    font-size: 13px;
    clear: both;
    padding-left: 130px;
}
.f_link{
    float: left;
}
.f_link li{
    float: left;
   padding: 10px 10px 30px 0;
}
.f_link li a{
    color: #161d2e;
    font-weight: bold;
}

.sns{
    float: right;
}
.sns li{
    float: left;
    padding-left: 10px;
    opacity: 0.7;
}
.sns li:hover{
    opacity: 1;
}